html {
  box-sizing: border-box;
  font: normal 100%/1.5 Georgia, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.grains {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.grains li {
  margin-bottom: 1.5rem;
  overflow: hidden;
}

.grains img {
  float: left;
  margin-right: .625rem;
  width: 100px;

  border: 1px solid #ccc;
}

.grains h2 {
  margin: 0;

  font-size: 1rem;
}

.grains p {
  margin: 0;

  font-style: italic;
}
